# as of 26 Mar 2025 - erica dreisbach - erica@ericadreisbach.com



#
# DON'T track bower
#
/bower_components


#
# DON'T track files that start with zz-
#
zz-*



#
# DON'T track system files
#
*~
.php-cs-fixer.dist.php
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
gulpfile.js
package.json
static-config.json
/node_modules




#
# GIT SMART 
# 



#
# Ignore previously tracked content without changing on remote 
# 
# For a file
# $ git update-index --assume-unchanged [file]
# 
# For a directory like wp-content/plugins/ or wp-content/uploads/
# ref: https://stackoverflow.com/a/12288918
# 
# $ cd [DIR]
# $ git ls-files | tr '\n' ' ' | xargs git update-index --assume-unchanged
# 
# ... and also update .gitignore so that new files in the ignored directories will be untracked



#
# Output tracked files on master
#
# $ git ls-tree -r master --name-only
# $ git ls-tree -r main --name-only



# 
# Output untracked files 
#
# $ git status -u
# $ git status --untracked-files



#
# .gitignore Rules 
#
# src: https://stackoverflow.com/questions/17888695/difference-between-gitignore-rules-with-and-without-trailing-slash-like-dir-an
#
# /dir will match a file, directory, link, anything named dir
# /dir/ will match only a directory named dir
# /dir/* will match all files, directories and anything else inside a
# directory named dir (but not the dir directory itself).



# 
# $ git checkout -b YYMMDD-remote
# $ git fetch REMOTE MAIN
# $ git reset --hard REMOTE/main
# $ git add .
# $ git commit
# $ git checkout main
# $ git merge YYMMDD-remote 
#



# 
# $ eval "$(ssh-agent -s)"
# $ ssh-add ~/.ssh/id_ed25519
# 