/* Breakpoints */


$tablet: calc(768rem / 16);

$smaller-than-tablet: calc(767rem / 16);


$laptop: calc(990rem / 16);

$smaller-than-laptop: calc(989rem / 16);


$desktop: calc(1200rem / 16);

$smaller-than-desktop: calc(1199rem / 16);