/* Nav */



.nav-ul,
.subnav {
    @extend %ul-reset;
}


@media (min-width: $laptop) {

    .nav-ul {
        display: flex;
    }

    .nav-li>.nav-a {
        padding: 1.414rem 1.414rem;
    }

    .subnav-li>.nav-a {
        padding: .8rem 1.414rem;
    }

    .nav-a {
        display: block;
    }

    .nav-li:has(.subnav) {
        position: relative;
    }

    .nav-li:has(.subnav)>.subnav {
        width: 16rem;
        height: auto;
        max-height: 0;
        background-color: white;
        box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .3);
        position: absolute;
        top: 100%;
        left: 0;
        opacity: 0;
        z-index: 10;

        @include transition(opacity .1s ease-in-out);


    }


    .nav-li:has(.subnav):hover>.subnav,
    .nav-li:focus-within>.subnav {
        max-height: fit-content;
        opacity: 1;

        &:before {
            display: block;
            width: 100%;
            height: 1rem;
            content: '';
            position: absolute;
            top: 0rem;
            left: 0;
        }

    }

}